body {
    overflow: auto;
}

#shopping-list {
    display: none;
}

.nav-menu {
    position: fixed;
    left: 15px;
    top: 15px;
}

.single-entry:hover {
    background-color: #85d8e5;
    cursor: pointer;
}

.edit-button, .delete-button {
    margin-top: 2px;
    margin-right: 1px;
}
.edit-button:hover, .delete-button:hover {
    border: 1px solid black;
}

#loading-screen {
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 1;
    opacity: 1;
    display: none;
}

#loading-image {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    animation: spin 3s linear infinite;

}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

