body {
    font-family: 'Montserrat', sans-serif;
    background-color: darkslategray;
    color: white;
    height: 100%;
    min-width: 640px;
}

.btn-lg {
    min-width: 130px;
}

#howto-button {
    margin-top: 5px;
    margin-right: 10px;
}

.modal {
    color: black;
}

#page-title {
    overflow-x: auto;
    overflow-y: hidden;
}

#nav-menu {
    height: 80px;
}

.edit-button, .delete-button, .shopping-list-button, .back-button, .schematic-button {
    margin-top: 4px;
    margin-right: 4px;
    background-color: #17a2b8;
}

#shopping-list, #schematic, #circuitbreaker-button {
    display: none;
}

thead tr th {
    background-color: #17a2b8;
    color: white;
}

#home {
    background-color: #17a2b8;
    display: none;
}

#home:hover, .back-button:hover, .edit-button:hover, .delete-button:hover, .shopping-list-button:hover, .schematic-button:hover{
    background-color: #117a8b;
}

.single-entry:hover .clickable {
    background-color: #5bb7c5;
    cursor: pointer;
}

#loading-screen {
    left: 0;
    top: 110px;
    width: 100%;
    height: 100%;
    background: #2f4f4f;
    position: absolute;
    z-index: 1;
    opacity: 1;
    display: none;
}

#loading-image {
    height: 70px;
    width: 70px;
    display: block;
    margin: 0 auto;
    animation: spin 2s linear infinite;

}

.schematic-first-level {
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
    display: block;
}

.schematic-item {
    margin-top: 5px;
    padding: 5px;
    border: 2px solid white;
}

.schematic-item:before {
    content: "";
    display: block;
    background: url("images/arrow.png") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 6px 0 0;
}

.schematic-anchor{
    overflow: auto;
    display: block;
}

.align-center {
    display: flex;
    align-items: center;
}

@keyframes spin {
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

@media print {
    thead tr th {
        background-color: white;
        color: black;
    }

    #nav-menu, #main-title, thead>tr>th:first-child, tbody>tr>th:first-child, #print {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
      width: 100%;
      max-width: none;
    }
  }
