body {
    font-family: 'Montserrat', sans-serif;
    background-color: darkslategray;
    color: white;
    min-width: 650px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-lg {
    min-width: 130px;
}

#howto-button {
    margin-top: 5px;
    margin-right: 10px;
}

.modal {
    color: black;
}

#page-title {
    overflow-x: auto;
    overflow-y: hidden;
}

.edit-button, .delete-button, .shopping-list-button, .back-button, .schematic-button {
    margin: 4px;
    background-color: #17a2b8;
}

#shopping-list, #schematic, #circuitbreaker-button {
    display: none;
}

thead tr th {
    /*background-color: #17a2b8;*/
    color: white;
}

.input-warning {
    box-shadow: 0 0 3px 3px rgb(255, 0, 0);
}

#home {
    background-color: #17a2b8;
    display: none;
    position: absolute;
    left: 2%;
    top: 1.5%;
}

#home:hover, .back-button:hover, .edit-button:hover, .delete-button:hover, .shopping-list-button:hover, .schematic-button:hover{
    background-color: #117a8b;
}

.single-entry:hover .clickable {
    background-color: #5bb7c5;
    cursor: pointer;
}

#loading-screen {
    left: 0;
    top: 85px;
    width: 100vw;
    height: 100vh;
    background: #2f4f4f;
    position: absolute;
    z-index: 1;
    opacity: 1;
    display: none;
}

#loading-image {
    height: 70px;
    width: 70px;
    display: block;
    margin: 0 auto;
    animation: spin 2s linear infinite;

}

.schematic-first-level {
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
    display: block;
}

.schematic-item {
    margin-top: 5px;
    padding: 5px;
    border: 2px solid white;
}

.schematic-item:before {
    content: "";
    display: block;
    background: url("images/arrow.png") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 6px 0 0;
}

.schematic-anchor{
    overflow: auto;
    display: block;
}

.align-center {
    display: flex;
    align-items: center;
}

@keyframes spin {
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

@media print {
    #main-title, thead>tr>th:first-child, tbody>tr>th:first-child, #print, #home {
        display: none;
    }
}

@media only screen and (max-device-width: 650px) and (orientation: portrait) {
    .container {
      min-width: 100%;
      max-width: none;
    }
    
    #loading-screen {
    left: 0;
    top: 85px;
    width: 185vw;
    height: 150vh;
    background: #2f4f4f;
    position: absolute;
    z-index: 1;
    opacity: 1;
    display: none;
    }
  }
  
 @media only screen and (max-device-width: 1000px) and (orientation: landscape) { 
 	.container {
      min-width: 100%;
      max-width: none;
    }
    
    #loading-screen {
    left: 0;
    top: 85px;
    width: 105vw;
    height: 150vh;
    background: #2f4f4f;
    position: absolute;
    z-index: 1;
    opacity: 1;
    display: none;
    }
 }
